<%= form_for @user, :html => {:multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= content_tag :label, t('.avatar') %><br>
    <%= image_tag(@user.avatar_url) if @user.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
<!--     <%= f.label :user_roles %><br>
    <% Role.all.each do |role| %>
      <%= check_box_tag 'role_id[]', role.id, @user.roles.include?(role) %>
      <%= role.name %><br>
    <% end %>
  </div> -->
  <div class="field">
    <%= f.fields_for :user_roles do |ur| %>
      <%= ur.label :role_id %>
      <%= ur.select :role_id, Role.all.collect {|p| [ p.name, p.id ] } %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
