<h1><%= t('.Listing posts') %></h1>

<table>
  <thead>
    <tr>
      <th><%=t '.Author' %></th>
      <th><%=t '.Content' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.author %></td>
        <td><%= post.content %></td>
        <td><%= link_to t('.Show'), post %></td>
        <td><%= link_to t('.Edit'), edit_post_path(post) %></td>
        <td><%= link_to t('.Destroy'), post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.New Post'), new_post_path %>
