<p>
  <strong><%= t('.author') %></strong>
  <%= @post.author %>
</p>

<p>
  <strong><%= t('.content') %></strong>
  <%= @post.content %>
</p>
<%= content_tag :h2, t('.comments') %>
<% @post.comments.each do |comment| %>
	<p>
		<strong><%= t('.author') %></strong>
		<%= comment.user.email %>
		<strong><%= t('.content') %></strong>
		<%= comment.content %>
	</p>
<% end %>
<% if user_signed_in? %>
<%= content_tag :h2, t('add_comment') %>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<% else %>
<% end %>

<%= link_to t('.edit'), edit_post_path(@post) %> |
<%= link_to t('.back'), posts_path %>
